
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Вход</h1>
    <p>@Model.Message</p>
    <form method="post" asp-action="Login">
        <label>Логин</label>
        <input class="input-group" type="text" name="login" />
        <label>Пароль</label>
        <input class="input-group" type="password" name="password" />
        <input type="submit" value="Войти )00)0)0" />
    </form>

