body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

#qrCode {
    margin: 15px;
}

@media screen and (max-width: 767px) {
    .carousel-caption {
        display: none;
    }
}

.content {
    margin: 64px;
}

table {
    width: 100%;
    border: 1px solid #69c;
    font-size: 26px;
    
}

th {
    
    font-weight: normal;
    height : 10px;
    color: #039;
    border-bottom: 2px solid #69c;
    padding: 12px 17px;
}

.time-th {
    width: 50px;
}

.event-color-tr {
    background: #fceae0;
}

td {
    color: #669;
    padding: 7px 17px;
    height : 80px;
    
   
}

tr:hover td {
    background: #ccddff;
   
}
h5 {
    font-size: 24px;
}
